# Permitir acceso a imágenes
<FilesMatch "\.(jpg|jpeg|png|gif|webp|svg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Denegar acceso a otros tipos de archivos
<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
